.movieInput {
  padding: 11px 15px;
  min-width: 40%;
  font-size: 1rem;
  line-height: 1.5em;
  color: #373d41;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c5c5c7;
  border-radius: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
  flex-grow: 1;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.formButton {
  background-color: #1a1a1a;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  white-space: normal;
  -webkit-transition: none;
  transition: none;
  cursor: pointer;
  outline: 0;
  padding: 14px 24px 13px;
  font-size: 1rem;
  line-height: 1.25rem;
  border-radius: 6px;
  border-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.formButton:hover,
.formButton:focus {
  background-color: rgb(110, 66, 1);
}

.searchForm {
  text-align: center;
  padding: 20px;
}
